# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/

# Uploads folder content (since it's likely to contain user uploads)
uploads/*
!uploads/.gitkeep

# Other
.DS_Store